@import './colors.scss';

.Input {
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 1rem;
  background-color: $white;

  &.reply {
    margin-top: -0.5rem;
  }

  textarea {
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    border: 1px solid $light-gray;
    color: $gray;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    resize: none;
  }

  img {
    float: left;
    width: 2rem;
    height: 2rem;
    margin-top: 0.5rem;
    border-radius: 50%;
  }

  button {
    float: right;
    width: 7rem;
    padding: 1rem 0;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    background-color: $blue;
    color: $white;
    transition: background-color 0.3s;

    &:hover {
      background-color: $light-blue;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding-top: 1rem;

    textarea {
      order: 2;
    }

    img {
      float: unset;
      order: 1;
      width: 2.5rem;
      height: 2.5rem;
    }

    button {
      float: unset;
      order: 3;
      height: fit-content;
      width: 10rem;
      margin-right: 0.5rem;
    }
  }
}
